body {
background-color: #A7CECB;


}

#top{
    display: flex;
    justify-content: center;
    align-items:center;
margin-left:auto;
margin-right:auto;
margin-top: 60px;
width: 600px;
flex-direction:column;

}

#container{

display:grid;
/*grid-template-columns: repeat( auto-fit, minmax(20px, 1fr) );*/
row-gap:0px;
column-gap:0px;
height: 400px;
width: 400px;
margin-left:auto;
margin-right:auto;
margin-top:20px;
grid-auto-flow: dense;
}
.etchgrid{
border-width: 1px;
margin:0px;
margin-left:0px;
}

.etchhover{
background-color: black;
}